@page

@using Microsoft.AspNetCore.Identity
@using VideoUploadSite.Models

@inject UserManager<ApplicationUser> UserManager

@model VideoUploadSite.Pages.MyVideosModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/MyVideos.css">@*css*@
</head>
<body>
    <div>
        <h1>Hello @UserManager.GetUserName(User)</h1>
        <h2>Here are your videos:</h2>

        <div>
            @if (Model.Videos.Count < 1)
            {
                <h3>You haven't uploaded any videos yet!</h3>
            }
            else
            {
                <div class="video-list">
                    @foreach (var video in Model.Videos)
                    {
                        @if (video.VideoOwner == UserManager.GetUserId(User))
                        {
                            <div class="video-item">
                                <a class="link-item" href="/WatchVideo/@video.VideoLink">
                                    <div class="video-thumbnail">
                                        <img src="@video.ThumbnailUrl" alt="Video Thumbnail">
                                    </div>
                                </a>
                                <a class="link-item" href="/WatchVideo/@video.VideoLink">
                                    <div class="video-info">
                                        <h4>@video.VideoTitle</h4>
                                        @* <p>@video.VideoDescription</p> *@
                                    </div>
                                </a>
                                <div class="copy-button">
                                    <button class="upload-btn" onclick="copyUrl('@video.VideoLink')">Copy Link</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</body>

<script>
    function copyUrl(videoLink) {
        const baseUrl = window.location.origin;
        const fullUrl = `${baseUrl}${videoLink}`;
        const el = document.createElement('textarea');
        el.value = fullUrl;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        alert('URL copied to clipboard');
    }
</script>
